<div class="home-header">
    {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span></h1>

    {{#if count}}
    <p>Foram encontrados <span>{{count}}</span> pensamentos.</p>
    {{else}}
    <p>Nenhum pensamento foi encontrado para o termo <span>{{search}}</span></p>
    {{/if}}

    {{else}}
    <h1>Conheça alguns dos pensamentos</h1>
    {{/if}}

    <form action="/" method="get" class="search-form">
        <input type="text" name="search" id="search" placeholder="Está buscando por algo?">
        <button type="submit" class="btn">Buscar</button>
    </form>
    <div class="order-container">
        <span>Ordenar por:</span>
        <form action="">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="asc">
            <button type="submit"><i class="bi bi-arrow-down" title="Mais antigos"></i></button>
        </form>
        <form action="">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="desc">
            <button type="submit"><i class="bi bi-arrow-up" title="Mais recentes"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>

<div class="toughts-container">
    {{#each toughts}}
    <figure>
        <blockquote>"{{this.title}}"</blockquote>
        <figcaption>Por: <span>{{this.User.username}}</span></figcaption>
    </figure>
    {{/each}}
</div>