<h2>Produtos</h2>
<div class="products">
    {{#each products}}
    <div class="product">
        <h3>{{this.name}}</h3>
        <img src="{{this.image}}" alt="{{this.name}}">
        <p>R${{this.price}}</p>
        <div style="text-align: center;">
            <a href="/products/{{this._id}}">Detalhes</a>
        </div>
    </div>
    {{/each}}
</div>